* {
    margin: 0;
    padding: 0;

}

html,
body {
    height: 100%;
    width: 100%;

}

#navy {
    position: fixed;
    height: 2;
    width: 100vw;
    z-index: 5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d6efd;
    /* Bootstrap blue */
    padding: 10px 20px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: color 0.3s ease;
}




.logo {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}



.Parent {
    position: sticky;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;

}

.Part1 {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: rebeccapurple;
}

.Part1 .bg-photo img {
    z-index: -2;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center
}

.bg-photo .text {
    position: relative;
    z-index: 10;
    text-align: left;
    color: #ffffff;
    padding: 0 60px;
    max-width: 700px;
    margin-left: 60px;

}

.Part2 {
    height: 100vh;
    width: 100vw;
    z-index: 2;

}

.Part2 .about-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-area: "left right"
        "left right"
        "left right";

}

.Part2 .left-box {
    grid-area: right;
    border-style: solid;
    background-color: #0d6efd;
}

.Part2 .right-box {
    grid-area: left;
    border-style: solid;
    background-color: aqua;
}


.Part3 {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;

}

.Part3 .center {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20% 20%;

}

.center .box .heading {
    margin: auto;
    padding: 0;
    font-size: 1.2em;
    font-weight: 900;
}

.center .box img {
    height: 90%;
    width: 32%;

    margin: 10px 2px;
    border-radius: 12px;
    border-radius: 12px;
    object-fit: cover;
}

.Part4 {
    height: 100vh;
    display: flex;
    width: 100vw;
    z-index: 2;
    background-color: lightcoral;

}

.Part4 .main {
    background-color: lightgreen;
    height: 80%;
    width: 80%;
    margin: auto;
}

.main .top {
    margin-left: 10px;
    height: 20%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.main .center {
    height: 40%;
    width: 80%;
    left: 0;
}

.main .last {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main button {
    height: 25%;
    width: 20%;
    padding: 5px 40px;
    margin: 0 auto;
}

.Part5 {
    height: 100vh;
    width: 100vw;
    z-index: 2;
    background-color: lightcyan;
    border: 2px solid black;
}

.Part5 .grid-container {
    height: 90%;
    width: 96%;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px; 
    background-color: #2196F3;
    margin: 60px 10px;
    padding: 10px 10px;

}

.grid-container div {
  background-color: #f1f1f1;
  text-align: center;
  padding: 0.2px;
  font-size: 30px;
}
.grid-container div.item1 {
    grid-area: top-left;
}
.grid-container div.item2 {
  
  grid-area: top-mid;

}
.grid-container div.item3 {
   grid-area: top-right;

}


.grid-container div.item2{
   height: 45%;
  background-color: lightcoral;

}
.grid-container div.item5{
   
  background-color: lightcoral;
  grid-row-start: 2;
  grid-row-end: 3;
}
.grid-container div.item6{
   
  background-color: lightcoral;
  grid-row-start: 3;
  grid-row-end: 4;
    grid-column-start: 2;
  grid-column-end: 3;
}
