*{
     margin: 0;
  padding: 0;

}

html,body{
  height: 100%;
  width: 100%;

}
.check{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  font-size: 90px;
  line-height: 0.9;
  width: 100%;
  border-radius: 500px;
  background-color: lightblue;
}

.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
}
.btn button{
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}